openapi: 3.2.0
info:
  title: ABC Trainerize Client Data API
  description: Programmatic access to an ABC Trainerize personal-training / fitness-coaching business.
  version: v03
  contact:
    name: ABC Trainerize
    url: https://www.trainerize.com
  x-parent-company: ABC Fitness Solutions (Trainerize was acquired by ABC Fitness in 2021)
servers:
- url: https://api.trainerize.com/v03
  description: ABC Trainerize production API (host + v03 version prefix confirmed live; requires provisioned credentials)
security:
- apiKey: []
tags:
- name: Client Data
  description: Retrieve and modify client goals, habits, body stats, nutrition, and appointments.
paths:
  /clientData/get:
    post:
      operationId: getClientData
      tags:
      - Client Data
      summary: Retrieve client data records
      description: Retrieves records for a client across a data domain - goals, habits, body stats, nutrition, or appointments. (Modeled; the documented API supports adding, modifying, and retrieving these data types.)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - userID
              - type
              properties:
                userID:
                  type: integer
                type:
                  type: string
                  enum:
                  - goal
                  - habit
                  - bodyStat
                  - nutrition
                  - appointment
                startDate:
                  type: string
                  format: date
                endDate:
                  type: string
                  format: date
      responses:
        '200':
          description: Data records.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /clientData/set:
    post:
      operationId: setClientData
      tags:
      - Client Data
      summary: Add or modify a client data record
      description: Adds or updates a goal, habit, body stat, nutrition, or appointment record for a client.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - userID
              - type
              - record
              properties:
                userID:
                  type: integer
                type:
                  type: string
                  enum:
                  - goal
                  - habit
                  - bodyStat
                  - nutrition
                  - appointment
                record:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    StatusResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid credentials, or the plan does not include API access.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key provisioned in the ABC Trainerize account settings (Studio and Enterprise plans only). An OAuth2 connection is also offered for partner integrations. The exact header format is documented only in the gated help center; model as an Authorization header credential.
