openapi: 3.2.0
info:
  title: ABC Trainerize Messaging API
  description: Programmatic access to an ABC Trainerize personal-training / fitness-coaching business.
  version: v03
  contact:
    name: ABC Trainerize
    url: https://www.trainerize.com
  x-parent-company: ABC Fitness Solutions (Trainerize was acquired by ABC Fitness in 2021)
servers:
- url: https://api.trainerize.com/v03
  description: ABC Trainerize production API (host + v03 version prefix confirmed live; requires provisioned credentials)
security:
- apiKey: []
tags:
- name: Messaging
  description: Send in-app messages and upload attachments / meal-plan PDFs to clients.
paths:
  /message/send:
    post:
      operationId: sendMessage
      tags:
      - Messaging
      summary: Send a message to a client
      description: Sends an in-app message to a client (documented "Send Message in Trainerize" action).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - userID
              - message
              properties:
                userID:
                  type: integer
                message:
                  type: string
      responses:
        '200':
          description: Send result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /attachment/upload:
    post:
      operationId: uploadAttachment
      tags:
      - Messaging
      summary: Upload an attachment
      description: Uploads an attachment (for example a meal-plan PDF) to a client (documented "Upload Attachment" / "Attach Meal Plan PDF" actions).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - userID
              - file
              properties:
                userID:
                  type: integer
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Upload result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    StatusResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid credentials, or the plan does not include API access.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key provisioned in the ABC Trainerize account settings (Studio and Enterprise plans only). An OAuth2 connection is also offered for partner integrations. The exact header format is documented only in the gated help center; model as an Authorization header credential.
