openapi: 3.2.0
info:
  title: ABC Trainerize Webhooks API
  description: Programmatic access to an ABC Trainerize personal-training / fitness-coaching business.
  version: v03
  contact:
    name: ABC Trainerize
    url: https://www.trainerize.com
  x-parent-company: ABC Fitness Solutions (Trainerize was acquired by ABC Fitness in 2021)
servers:
- url: https://api.trainerize.com/v03
  description: ABC Trainerize production API (host + v03 version prefix confirmed live; requires provisioned credentials)
security:
- apiKey: []
tags:
- name: Webhooks
  description: Register and manage webhook subscriptions for ABC Trainerize business events.
paths:
  /webhook/register:
    post:
      operationId: registerWebhook
      tags:
      - Webhooks
      summary: Register a webhook
      description: Registers a webhook subscription that posts to a target URL when a business event occurs. Documented events include workout completed, cardio completed, habit completed, daily nutrition goal hit, weight goal hit, new client, new purchase, product start/end, auto-renew cancelled, and tag added/removed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookInput'
      responses:
        '200':
          description: The registered webhook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /webhook/list:
    post:
      operationId: listWebhooks
      tags:
      - Webhooks
      summary: List webhooks
      description: Lists the webhook subscriptions registered for the business.
      responses:
        '200':
          description: Webhooks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webhook/delete:
    post:
      operationId: deleteWebhook
      tags:
      - Webhooks
      summary: Delete a webhook
      description: Removes a webhook subscription.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - webhookID
              properties:
                webhookID:
                  type: string
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid credentials, or the plan does not include API access.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    StatusResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
    WebhookInput:
      type: object
      required:
      - url
      - event
      properties:
        url:
          type: string
          format: uri
        event:
          type: string
          enum:
          - workoutCompleted
          - cardioCompleted
          - habitCompleted
          - dailyNutritionGoalHit
          - weightGoalHit
          - newClient
          - newPurchase
          - productStart
          - productEnd
          - autoRenewCancelled
          - tagAdded
          - tagRemoved
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    Webhook:
      allOf:
      - $ref: '#/components/schemas/WebhookInput'
      - type: object
        properties:
          webhookID:
            type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key provisioned in the ABC Trainerize account settings (Studio and Enterprise plans only). An OAuth2 connection is also offered for partner integrations. The exact header format is documented only in the gated help center; model as an Authorization header credential.
